#spiteSheet {
    background-image: url(../ESA1/turning.png);
    border: none;
    margin: auto;
    width: 1000px;
    height: 1000px;
}

body {
    background-color: #8c8c8c!important;
    background-image:  linear-gradient(30deg, #757575 12%, transparent 12.5%, transparent 87%, #757575 87.5%, #757575), linear-gradient(150deg, #757575 12%, transparent 12.5%, transparent 87%, #757575 87.5%, #757575), linear-gradient(30deg, #757575 12%, transparent 12.5%, transparent 87%, #757575 87.5%, #757575), linear-gradient(150deg, #757575 12%, transparent 12.5%, transparent 87%, #757575 87.5%, #757575), linear-gradient(60deg, #75757577 25%, transparent 25.5%, transparent 75%, #75757577 75%, #75757577), linear-gradient(60deg, #75757577 25%, transparent 25.5%, transparent 75%, #75757577 75%, #75757577);
    background-size: 14px 25px;
    background-position: 0 0, 0 0, 7px 12px, 7px 12px, 0 0, 7px 12px;
}

form {
    font-size: large;
    font-weight: bold;
}

.row_{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

header, footer{
    background-color: #292929;
    color: white;
    text-align: center;
    width: 100%;
    padding: 7px;
    border-top: black;
    border-top-style: dashed;
    border-top-width: 2px;
}

canvas {
    margin: auto;
    display: block;
    border: solid 5px black;
}

.info{
    background-color: #292929;
    color: white;
    width: fit-content;
    padding: 15px;
    height: fit-content;
    max-width: 45vw;
}

.bg-dark{
    background-color: #292929!important;
}

#github {
    color:lightgrey;
    font-size: 30px;
    text-align: end;
    display: block;
}

#github:hover {
    color:white;
}

.m_auto{
    margin-left: auto!important;
    margin-right: auto!important;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ff7fb6;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ff7fb6;
    cursor: pointer;
  }