{% extends "layout.html" %}
{% block main %}

<header>
    <h1>ESA 1 Interaktiv animierte Scheibe</h1>
    <p>Mit der Taste <strong>r</strong> spielt die Animation vorwärts und mit <strong>l</strong> spielt die Animation rückwärts. Mit der Taste <strong>a</strong> spielt die Animation automatisch so lange bis erneut <strong>a</strong> gedrückt wird. <br>
    Es kann zwischen zwei Animationen gewählt werden.</p>
    <form id="anim">
        <input type="radio" id="turn" name="anim" value="turning" checked>
        <label for="turn">drehen</label><br>
        <input type="radio" id="jump" name="anim" value="jumping">
        <label for="jump">hüpfen</label><br>
    </form>
</header>

<div id="spiteSheet"></div>


<footer>
<p>Veronika Simmering - Technische Hochschule Brandenburg</p>
<hr>
Credits: <br>
3D Model von: Raymond Gabriel via Blenderkit <br>
Material (Scheibe) von: Peter Berghold via Blenderkit

</footer>

<script src="../JS/esa1.js"></script>

{% endblock %}